window > grid {
	background-color: rgb(255,235,214);
	border-radius: 6px;
	padding: 10px;
	border: Solid 1px rgba(0, 0, 0, 0.1);
}
window > grid > textview {
	font-family: "Courier Prime", monospace;
	font-size: 17px;
	border-width: 2px;
	border-style: Solid;
	border-color: red;
	padding: 0;
	border-radius: 5px;
	background: transparent;
}
window > grid > textview text {
	margin: 10px;
	padding: 10px;
	border-radius: 5px;
	background: ivory;
}
/*window > grid > textview > border {
	display: none;
}*/
window > grid > textview text:focus {
	outline: Solid 10px black;
}
window > grid > label {
	font-family: "Courier Prime", monospace;
	color: darkgoldenrod;
	font-size: 30px;
}
window > grid > button {
	margin: 10px;
	background: #06c;
	color: white;
	text-shadow: 0 1px 1px rgba(0,0,0,0.4);
	/*max-height: 24px;*/
	font-family: "Anuphan","Liberation Sans", sans-serif;
	font-weight: 600;
	font-size: 15px;
	letter-spacing: 0;
	padding: 0 20px;
/*	letter-spacing: -0.067em;*/
	border: Solid 1px rgba(0,0,150,.5);
	box-shadow: inset 0 0 0 1px rgba(255,255,255,0.3), 0 1px 2px rgba(0,0,0,0.6);
	/*border-radius: 3px;*/
	transition: none;
}
window > grid > button:focus {
	outline-style: solid;
	outline-width: 4px;
	outline-color: rgba(233,63,47,0.36);
	outline-offset: -1px;
	animation : jumpFocus .17s ease-in-out;
}
window > grid > entry {
	border-radius: 2px;
	min-height: 20px;
	font-size: 17px;
	color: rgba(0, 0, 0, .7);
	font-weight: 600;
	font-family: "Nimbus Sans L", sans-serif;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1), 0 0 0 1px rgba(0,0,0,.2);
}
window > grid > entry:focus {
	outline-style: solid;
	outline-width: 4px;
	outline-color: rgba(233,63,47,0.36);
	outline-offset: -1px;
	animation : jumpFocus .17s ease-in-out;
}
window > grid > button:active {
	box-shadow: inset 0 1px 2px rgba(0,0,0,.5);
	animation: activeFocus .17s ease-in-out;
}

@keyframes jumpFocus {
	0% {
		outline-width: 25px;
		outline-offset: 5px;
		outline-color: rgba(219,68,55,.8);
	}
	20% {
		outline-width: 5px;
	}
	100% {
		outline-offset: -1px;
		outline-width: 4px;
		outline-color: rgba(233,63,47,0.36);
	}
}

@keyframes activeFocus {
	0% {
		outline-offset: -1px;
		outline-color: rgba(233,63,47,0.36);
	}
	50% {
		outline-offset: 5px;
		outline-color: rgba(233,63,47,0.36);
	}
	100% {
		outline-offset: -1px;
		outline-color: rgba(233,63,47,0.36);
	}
}